<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Recipes">
    <meta name="author" content="Julie Cho">
    <title>Dinner Planner</title>
     <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/custom-menu.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('recipeList')}}">Dinner Planner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('recipeList')}}">Home
              </a>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('gdisconnect')}}">Logout</a>
            </li>
			  <li class="nav-item username"><span class="nav-link username" href="">{{user.username}}</span></li>
		  <div class="profile-photo"><img src="{{user.picture}}" alt="profile-photo" style="height:1.2em; margin:13px 0 0 0 ;"></div>

          </ul>
        </div>
		 </div>
    </nav>



<!-- Page Content -->
        <div class="container">
            <div class="row my-4">
                <div class="col-12">
                    <h3 class="display-4"><strong>{{category.name}}</strong></h3>
                    <h3 class="display-4 inline">{{item.name}}</h3>
                    <a class="inline" href="{{url_for('deleteMenu', category_id=category.id, menu_id=item.id)}}"><img src="/static/images/delete.png" alt="delete-icon"></a>


<form method="post" action="{{url_for('editMenu', category_id=category.id, menu_id=item.id)}}">
    <div>Name*(required): <input required class="input-group-text" type="text" name="name" value="{{item.name}}"></div>
    <div>Servings: <input class="input-group-text" type="text" name="servings" value="{{item.servings}}"></div>
    <div>Calories/Serving: <input class="input-group-text" type="text" name="calories" value="{{item.calories}}"></div>
    <div>Picture: <input class="input-group-text" type="text" name="picture" value="{{item.picture}}"></div>
    <div style="margin-top:1em;"><strong>Total Time</strong>
        <div style="margin: 1em 1em;">
        <div>Hour: <input class="input-group-text" type="text" name="hour" value="{{item.hour}}"></div>
        <div>Minute: <input class="input-group-text" type="text" name="minute" value="{{item.minute}}"></div>
        </div>
    </div>


    <div style="margin-top:1em;"><strong>Ingredients</strong><img class="addIng" src="/static/images/plus.png" alt="plus image" style="margin:0.3em;">
    <div class="ingLoop">
    {% if ingredients|length > 0 %}
    {% for ingredient in ingredients %}
        <small class="ing-numbering">{{loop.index}}</small>
        <img class="delete-ing inline" src="/static/images/delete.png" alt="delete-icon" styl="margin:1em;">

        <div style="margin-left:1em;">
            Amount (optional):
            <div>
                <input class="input-group-text inline" name="amount" value="{{ingredient.amount}}">
            </div>
            <div>
                Description:
                <div>
                    <input class="input-group-text inline" name="description" value="{{ingredient.description}}">
                </div>
            </div>
	    </div>




    {% endfor %}
    </div>
    {% endif %}
    </div>


    <div style="margin-top:1em;"><strong>Directions</strong><img class="addDir" src="/static/images/plus.png" alt="plus image" style="margin:0.3em;">
    <div class="dirLoop">
        {% if directions|length > 0 %}
        {% for direction in directions %}
            <small class="dir-numbering">{{loop.index}}</small>
            <img class="delete-dir inline" src="/static/images/delete.png" alt="delete-icon" styl="margin:1em;">
            <div>
                <input name="direction" value="{{direction.direction}}" class="input-group-text inline">
            </div>

        {% endfor %}

    {% endif %}
        </div>
    </div>


    </br>


<div class="btn-group btn-group-lg" style="margin:5em;">
<a class="btn btn-primary " href="{{url_for('menuDetails', category_id=category.id, menu_id=item.id)}}">Cancel</a>
<input class="btn btn-primary submit" type="submit" value="Submit">
</div>
</form>
</div>
</div>
</div>



 <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Dinner Planner 2018</p>
      </div>
      <!-- /.container -->
    </footer>

   <!-- Bootstrap core JavaScript -->
    <script src="/static/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<script>


    $(document).ready(function() {
        $('.addIng').on('click', function(){
            indexStr=$('.ing-numbering').last().text();
            index = parseInt(indexStr)+1;
            if (isNaN(index)){
                index =1
            }
        $('.ingLoop').append(
            "<small class='ing-numbering'>"+ index+"</small>" +
            "<img class=\"delete-ing inline\" src=\"/static/images/delete.png\" alt=\"delete-icon\" styl=\"margin:1em;\">\n" +
            "            Amount:\n" +
            "            <div>\n" +
            "                <input class=\"input-group-text inline\" name=\"amount\">\n" +
            "            </div>\n" +
            "            <div>\n" +
            "                Description:\n" +
            "                <div>\n" +
            "                    <input class=\"input-group-text inline\" name=\"description\">\n" +
            "                </div>\n" +
            "            </div>\n" +
            "\t    </div>"
        );
    });

        $('.addDir').on('click', function(){
            indexStr=$('.dir-numbering').last().text();
            index = parseInt(indexStr)+1;
            if (isNaN(index)){
                index =1;
            }
        $('.dirLoop').append(
            "<div>"+
            "<small class=\"dir-numbering\">"+index+"</small>\n" +
            "            <img class=\"delete-dir inline\" src=\"/static/images/delete.png\" alt=\"delete-icon\" styl=\"margin:1em;\">\n" +
            "            <div>\n" +
            "                <input name=\"direction\" class=\"input-group-text inline\">\n" +
            "            </div>"+
            "</div>"
        );
    });
        $('.delete-dir').on('click', function(){
            $(this).next().find(".input-group-text").attr("name", "delete-dir");
            $(this).next().css('opacity', '0.2');
            $(this).prev().css('opacity', '0.2');
        });

        $('.delete-ing').on('click', function(){
            $input = $(this).next().find("div").find(".input-group-text");
            if($input.attr('name').includes('delete')){
                $input.first().attr('name', 'amount');
                $input.last().attr('name', 'description')
            } else {
                $input.first().attr('name', 'delete-amount');
                $input.last().attr('name', 'delete-description');

            }
            $(this).next().toggleClass("opacity");
            $(this).prev().toggleClass("opacity");
        });
    });
</script>
</body>
</html>