<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Recipes">
    <meta name="author" content="Julie Cho">

    <title>Dinner Planner</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap/css/custom.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('recipeList')}}">Dinner Planner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('recipeList')}}">Home
                <span class="sr-only">(current)</span>
              </a>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('gdisconnect')}}">Logout</a>
            </li>
			  <li class="nav-item username"><span class="nav-link username" href="">{{user.username}}</span></li>
		  <div class="profile-photo"><img src="{{user.picture}}" alt="profile-photo" style="height:1.2em; margin:13px 0 0 0 ;"></div>

          </ul>
        </div>
		 </div>
    </nav>

    <!-- Page Content -->

    <div class="container">
		{% with messages = get_flashed_messages() %}
    		{% if messages %}
    		<ul class="flashes list-group">
        		{% for message in messages %}
            	<li class="list-group-item"> <strong> {{ message }} </strong> </li>
        		{% endfor %}
        	</ul>
        	{% endif %}
    	{% endwith %}



      <!-- Jumbotron Header -->
      <header class="jumbotron my-4 text-center">
        <h3 class="display-5">Weekly Dinner Planner</h3>
        <div class="row plans">
        {% for el in list %}
        <div class="col-lg-3 col-md-4 col-sm-4">
          <h6>{{dates.pop()}}</h6>
          <span><a href="{{url_for('menuDetails', category_id=el.category_id, menu_id=el.id)}}"><img name='{{el.name}}' src="{{el.picture}}" onError="this.onerror=null;this.src='/static/images/food_image_alt.jpg';" width="100%"></a></span>
          {{el.name}}
        </div>
        {% endfor %}
        </div>

        <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>-->
        <a href="{{url_for('refresh')}}" class="btn btn-primary btn-md">Refresh Planner!</a>
      </header>


      <!-- Page Features -->
      <h3 class="display-4 text-center">Recipe Categories</h3>
      <a href = "{{url_for('newRecipe')}}" class="btn btn-primary btn-sm adding-cat">Add new category</a>


      <div class="row text-center">
        {% for category in categories %}
          <div class="col-lg-4 col-md-6 mb-4">

          <div class="card">
            <img class="card-img-top" src="{{pic.pop()}}" alt="food-photo" onError="this.onerror=null;this.src='/static/images/food_image_alt.jpg';">
            <div class="card-body">
              <h4 class="card-title">{{category.name}}</h4>
            </div>
            <div class="card-footer">
              <a href="{{url_for('menuList', category_id = category.id)}}" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
          </div>
        {% endfor %}






      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Dinner Planner 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
